$font-stack: -apple-system, BlinkMacSystemFont, sans-serif;;
$primary-color: rgb(248, 241, 241);

html {
  position: relative;
  min-height: 100%;
  max-width:800px;
  margin: auto;
}

body {

    background-image:url("../img/background.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    max-width:800px;
    margin: auto;
    align-items: center;
    padding-bottom: 117px;
  
}

#app {
  
    h1 {  
    font-size: 36px;
  }
    display: grid;
    grid-template-columns: 400px,400px;
    grid-template-rows: 200px,200px,200px,200px;
    color: #504242dc;
    justify-content: center;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 30px;
    padding-bottom: 0;
    

    .headline {
      font-size: 120px;
      justify-content: center;
      align-items: center;
      font-family: fantasy;
      padding: 30px;
      margin-bottom: 17px;
      margin-top: 50px;
      letter-spacing:2px;
      grid-area: 1 / 1 / 2 / 3;
   
   }
    .location{
      grid-area: 2 / 1 / 3 / 2;
      display: block;

    }

    .datum1{
      grid-area: 3 / 1 / 4 / 2;
      display: block;
    }
     
    .datum2{
      grid-area:4 / 1 / 5 / 2;
      display: block;
      margin-bottom: 0;
    }

    .notes{
      grid-area:2 / 2 / 5 / 3;
      display: block;
      margin-bottom: 0;
     
    }
    

    #loading {
      border: 16px solid #e4ddaa98;  
      border-top: 16px solid #faf7f7b6; 
      border-bottom: 16px solid #b8b393c4; 
      border-left: 16px solid #5f4c4c6e; 
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
      position: fixed;
      left: 50%;
      top: 50%;
      z-index: 1;
      margin-bottom: 0;
   }

   @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

   .showing {
      display:block;
   }

   .hidden {
      display:none;
   }

}


@media screen and (max-width: 800px) { 

  #app {
    text-align:center; 
    display: flex;
    flex-direction: column
  
    .headline {   
      font-size: 77px;
   }
    .location{
  
      display: flex;
      justify-content: space-between;
      margin: 2rem;
 
    }

    .datum1{
      display: flex;
      margin: 2rem;
      justify-content: space-between;
    }
     
    .datum2{   
      display: flex;
      margin: 2rem;
      justify-content: space-between;
    }

    .notes{
      display: flex;
      margin: 2rem;
      max-height: 250px;
      justify-content: space-between;

      button{
        margin-bottom:140px
      }

     
    }
     
}

}



 #myBtn {
   display: none; 
   position: fixed; 
   bottom: 40px; 
   right: 40px; 
   z-index: 99; 
   border: none; 
   outline: none; 
   background-color: #f0c239de;
   color: #383838d3; 
   cursor: pointer; 
   padding: 10px; 
   border-radius: 10px; 
   font-size: 17px; 
   font-weight: bold;
   box-shadow: 2px 4px 5px #444;
   transition: 0.3s;
   
   &:hover {
      background-color: #175f1e96;
      opacity: 1;
      color: white;
    }
 }
 
