.savedEntry{
  
  padding-bottom: 30px;
  background: rgba(102, 86, 86, 0.575);
  max-width: 200px;
  padding: 10px;
  padding-bottom: 80px;
  border-radius: 5px;
  display:none ;   
  margin-top: 0;   
  margin-bottom: 70px;          
  font-family: "Oswald", sans-serif;
  line-height: 1;
  

  .tripText2 {
  
    max-width: 180px;
    color: #f9f8f1da;
    font-size: 21px;
    text-align: left;
    display:inline-block;
    padding-top: 0px;
    margin-left: 12px;
    margin-top: 0;
    margin-bottom:0;
    line-height:normal
    
       
    img{
      max-width: 100px;
      padding: 0;
      margin: 0;
    }

    button {
      margin-bottom: 10px;
      }
  } 

  .tripImage2 {
  
    text-align: right;
    vertical-align: top;
    display: inline-block;
 
  img {
    display: table;
    width: 100%;
    }  
   }   
}


#storageDiv {
  .gridWrapper {
   display: grid;
   grid: auto / 1fr;
}
}

@media screen and (min-width: 300px) {
#storageDiv {
  .gridWrapper {
   display: grid;
   grid: auto/1fr 1fr;
   gap: 1.5rem; 
   
}
}
}


@media screen and (min-width: 760px) {
  #storageDiv {
      .gridWrapper {
       display: grid;
       grid: auto/1fr 1fr 1fr;
       gap: 0.5rem; 
   }
  }
  }


@media screen and (min-width: 1200px) {
#storageDiv {
    .gridWrapper {
     display: grid;
     grid: auto/177px 177px 177px 177px;
     gap: 1.6rem; 
 }
}
}
